@charset "UTF-8";





/*以下，portfolio部分*/





.portfolio {
	padding-top: 100px;
}

.PF-description {
    display: block;
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/PFtop.JPG");
	overflow: hidden;
	position: relative;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
	z-index: 0;
}

.PF-description:before {
	content: '';
	background: inherit;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1;
}

.toptheme {
    padding: 300px 0 100px;
}

.code001 {
    display: block;
    font-size: 6rem;
    font-family: 'Montserrat';
    color: white;
    letter-spacing: 8px;
	text-align: center;
}

.code002 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Josefin Sans';
    padding-bottom: 30px;
    letter-spacing: 2px;
	text-align: center;
}

#map {
	width: 400px;
	margin: 20px auto;
}

.portfolio-wrap {
	display: flex;
}

.portfolio-list {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

.portfolio-list img{
	flex-grow: 1;
	object-fit: cover;
	height: 200px;
	margin: 0.5rem;
}

.portfolio-list img:hover {
	cursor: pointer;
}

/*-----------------------*/

/*infoエリアをはじめは非表示*/
#info{
	display: none;
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
	max-width: 600px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

.modaal-container h1{
	font-family: 'Noto Serif JP';
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
	margin: 10px 0 30px;;
}

.modaal-container p{
	font-family: 'Noto Serif JP';
	font-size: 1.5rem;
	line-height: 2.5rem;
	margin-top: 2.5rem;
}

.modaal-container thead {
	display: none;
}

.modaal-container td{
	padding: 5px;
	border-collapse: collapse;
	border: 0.5px solid black;
}

.modaal-container table {
	font-size: 1.5rem;
	margin: 3rem auto;
}

.modaal-container td:first-of-type {
	width: 10rem;
	text-align: center;
	vertical-align: middle;
}


.inform {
	width: 500px;
	margin: 20px auto 10px;
	padding: 20px;
	font-size: 1.3rem;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}

.inform div{
	display: inline-block;
}

.inform .modal-open {
	font-size: 1.4rem;
	text-decoration: underline;
	cursor: pointer;
}

.none {
	display: none;
}



@media screen and (max-width:600px) {
	
	.portfolio-wrap {
		display: block;
	}

	.portfolio-list {
		display: block;
		margin: auto;
	}

	.portfolio-list {
		width: 70vw;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
	}
	
	.portfolio-list img{
		height: 150px;
	}

}

@media screen and (max-width:550px) {

	.inform {
		width: auto;
		margin: 20px 40px 10px;
		text-align: center;
	}

	#map {
		width: auto;
		margin: 20px 40px;
		text-align: center;
	}

	.modaal-container p, .modaal-container tbody {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}

	.modaal-container td:first-of-type {
		width: 7rem;
	}
}

@media screen and (max-width:455px) {

	.portfolio-list {
		padding: 20px 0;
		width: auto;
		margin: 0 20px;
	}

	.modaal-outer-wrapper .modaal-inner-wrapper {
		padding: 60px 15px;
	}

	.modaal-container .modaal-content-container {
		padding: 30px 20px;
	}

}

/*日本地図*/
.prefecture{
	fill: none;
}
.kagoshima {
	fill: #ee827d;
}
.osaka {
	fill: #ee827d;
}