<section class="SNSlink">
    <a class="btn btn-sns btn-sns--twitter">
        <i class="fa-brands fa-twitter"></i>
    </a>
    <a class="btn btn-sns btn-sns--instagram">
        <i class="fa-brands fa-instagram"></i>			</a>
    <a class="btn btn-sns btn-sns--youtube">
        <i class="fa-brands fa-youtube"></i>
    </a>
    <a id="share" class="btn btn-sns btn-sns--other">
        <i class="fa-solid fa-arrow-up-from-bracket fa-sm"></i>
    </a>
</section>

<footer>
    <small class="copyright">&copy; 2022 Glässes All rights Reserved.</small>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="{{ .Site.BaseURL }}js/move.js"></script>

{{ if eq .Layout "portfolio" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ .Site.BaseURL }}js/portfolio.js"></script>
{{ else if eq .Section "posts" }}
<script src="{{ .Site.BaseURL }}js/blog.js"></script>
{{ else if eq .Layout "real" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ .Site.BaseURL }}js/real.js"></script>
{{ else if eq .Layout "login" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ .Site.BaseURL }}js/login.js"></script>
{{ end }}