<header>
    <ul class="header_logo">
        <li><a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/logo_1.png" alt="logo"></a></li>
    </ul>
    <ul class="header_link">
        <li><a href="{{ .Site.BaseURL }}pages/profile/">PROFILE</a></li>
        <li><a href="{{ .Site.BaseURL }}portfolio/">PORTFOLIO</a></li>
        <li><a href="{{ .Site.BaseURL }}pages/real/">ﾎﾝﾈ</a></li>
        <li><a href="{{ .Site.BaseURL }}posts/">BLOG</a></li>
        <li><a href="{{ .Site.BaseURL }}pages/contact/">CONTACT</a></li>
    </ul>
</header>
<div class="openbtn"><span></span><span></span><span></span></div>
<nav id="g-nav">
    <div id="g-nav-list">
        <ul>
            <li><a href="{{ .Site.BaseURL }}pages/profile/">PROFILE</a></li> 
            <li><a href="{{ .Site.BaseURL }}portfolio/">PORTFOLIO</a></li> 
            <li><a href="{{ .Site.BaseURL }}pages/real/">ﾎﾝﾈ</a></li> 
            <li><a href="{{ .Site.BaseURL }}posts/">BLOG</a></li> 
            <li><a href="{{ .Site.BaseURL }}pages/contact/">CONTACT</a></li> 
        </ul>
    </div>
</nav>