{{ define "main" }}
<div style="display: none;">
	<div id="share-title">ポートフォリオ | Glässes's WEB</div>
	<div id="share-url">{{ .RelPermalink }}</div>
	<div id="share-text">Glässesのポートフォリオです．現在製作中．</div>
</div>
<section class="PF-description">
	<div class="toptheme">
		<h1 class="code001">PORTFOLIO</h1>
	</div>
	<section class="code002">DISCOVER SOMETHING SPECIAL</section>
</section>

<section class="portfolio">
	<div>{{ .Content }}</div>
	<div id="map"></div>
	<div class="portfolio-wrap">
		<div class="portfolio-list"></div>
	</div>
</section>
{{ end }}